* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 20px;
    margin-top: 7rem;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    overflow: auto;
}

h2 {
    font-size: 45px;
    display: inline;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border-color: #fff;
}

.increment-btn {
    background-color: blue;
    color: #fff;
    cursor: pointer;
    margin-top: 2rem;
}

.clear-btn {
    color: #fff;
    background-color: indianred;
    cursor: pointer;
    margin-top: 2.5rem;
    margin-left: 0.5rem;
    padding: 3px;
    position: relative;
    top: -1rem;
}

.save-btn {
    background-color: green;
    color: #fff;
    cursor: pointer;
    margin-top: 2rem;
}

p {
    margin-top: 1.5rem;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
