* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 450px;
    height: 400px;
    margin: 5rem auto 0px auto;
    border-radius: 5%;
    padding: 3rem;
    font-family: 'Karla';
    font-style: normal;
    line-height: 35px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    background: #1F2937;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.pass-text {
    color: #4ADF86;
}

button {
    background: #10B981;
    color: #fff;
    border-radius: 6px;
    border: none;
    padding: 9px 17px 9px 15px;
    margin-top: 2rem;
    cursor: pointer;
}

hr {
    margin-top: 3rem;
    border: 1px solid #2F3E53;
}

.container-two {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.3rem;
}

.output-field {
    width: 160px;
    height: 30px;
    background: #273549;
    border-radius: 6px;
    color: #55F991;
    text-align: center;

}