* {
    box-sizing: border-box;
    margin: 0;
    background-color: #fff;
}

#main {
    display: block;
    height: 450px;
    width: 350px;
    border-radius: 15px;
    margin: 4rem auto 0;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    padding: 1rem;
    background-color: #323232;
}

.number-screen {
    background-color: #FEFBF6;
    height: 70px;
    width: 100%;
    border-radius: 20px;
}

.button-group {
    background-color: #EAF6F6;
    height: 290px;
    width: 100%;
    margin-top: 2rem;
    border-radius: 20px
}