* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 550px;
    width: 500px;
    margin: 2rem auto 1rem auto;
}

.top-div {
    background:#6943FF;
    height: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.bottom-div {
    background:#1F2937;
    height: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.unit-box {
    height: 100px;
    width: 100px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin: 25px auto 15px auto;
}

button {
    padding: 10px;
    width: 100px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background: #fff;
    border: none;
    cursor: pointer;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

input {
    height: 100%;
    width: 100%;
    font-size: 64px;
    text-align: center;
    background: transparent;
    color: #fff;
}

.output-box {
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #CCC1FF;
}

.output-box > h1 {
    color: #CCC1FF;
    font-size: 18px;
}

.output-box > p {
    color: #fff;
    font-weight: bold;
}